<div class="row">
  <div class="col">
    <h3>*ngIf</h3>
    <hr>
    <button (click)="mostrar = !mostrar" class="btn btn-outline-primary mb-3">Mostrar / Ocultar</button>

    <div *ngIf="mostrar" class="card text-white bg-primary" style="max-width: 100%;">
      <div class="card-body">
        <h5 class="card-title">{{ frase.autor }}</h5>
        <p class="card-text">{{ frase.mensaje }}.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <h3>*ngFor</h3>
    <hr>
    <ul class="list-group">
      <li *ngFor="let personaje of personajes; let i = index" class="list-group-item">
        {{ i + 1 }}. {{ personaje }}
      </li>
    </ul>
  </div>
</div>