<div class="container mt-4 animated fadeIn fast">
  <h1 class="mb-4">Heroes de <span>Marvel y DC</span></h1>

    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="assets/images/wolverine.png" alt="Wolverine">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
          <p class="card-text"><span class="text-muted">Last updated</span></p>
          <button class="btn btn-outline-primary btn-block">Ver más</button>
        </div>
      </div>
    </div>
</div>
