<div class="container mt-4 animated fadeIn fast">
  <h1 *ngIf="terminoBusqueda" class="mb-4">Resultado de : <u>{{terminoBusqueda}}</u> </h1>
  <h1 *ngIf="!terminoBusqueda" class="mb-4">Heroes de <span>Marvel y DC</span></h1>

    <div class="card-columns">
      <div class="card" *ngFor="let heroe of heroes; let i = index">
        <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
          <h4 class="card-title">{{ heroe.nombre }}</h4>
          <p class="card-text">{{ heroe.bio }}</p>
          <p class="card-text"><span class="text-muted">{{ heroe.aparicion }}</span></p>
          <button (click)="verHeroe(i)" class="btn btn-outline-primary btn-block">Ver más</button>
          <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block">Ver más</a> -->
        </div>
      </div>
    </div>
</div>
