<div class="container mt-4 animated fadeIn fast">
  
  <h1 *ngIf="terminoBusqueda && heroes.length > 0" class="animated fadeIn mb-4">Resultado de : <u>{{terminoBusqueda}}</u> </h1>
  <div *ngIf="terminoBusqueda && heroes.length == 0" class="animated fadeIn alert alert-info" role="alert">
    No existen resultados con el término: <u>{{ terminoBusqueda }}</u>
  </div>
  
  <h1 *ngIf="!terminoBusqueda" class="animated fadeIn mb-4">Heroes de <span>Marvel y DC</span></h1>
    <div class="animated fadeIn card-columns">
      <!-- <div class="card" *ngFor="let heroe of heroes; let i = index"></div> -->
      <app-heroe-card (heroeSeleccionado)="verHeroe( $event )" [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes;"></app-heroe-card>
    </div>
</div>
